/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.home-image {
  width: 150px;
}

.home-heading {
  color: #6d396b;
  font-size: 30px;
}
