/* Write your CSS code here */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.contact-image {
  width: 150px;
}

.contact-heading {
  color: #6d396b;
  font-size: 30px;
}
